.board {
    .row {
        display: flex;
        .cell {
            width: 100px;
            height: 100px;
            background-color: black;
            &.moveable {
                background-color: red;
            }
        }
    }
}