.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .row {
        display: flex;
        .cell {
            width: 80px;
            height: 80px;
            background-color: #e4df98;
            display: flex;
            justify-content: center;
            align-items: center;
            &.moveable {
                background-color: #998347cc;
            }
            .piece {
                height: 80%;
                width: 80%;
                border-radius: 50%;
                border: 1px solid black;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                &.player1 {
                    background-color: red;
                }
                &.player2 {
                    background-color: white;
                }
                .king {
                    font-size: 60px;
                }
            }
            .target-marker {
                height: 20%;
                width: 20%;
                background-color: lightgray;
                border-radius: 50%;
            }
        }
    }
}